<div class="animated fadeIn">
    <img src="/assets/img/banner.jpg" class="img-fluid" alt="...">
    <br>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Volkswagen</td>
                <td>Beetle Coast</td>
                <td>Desde $387,990</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Volkswagen</td>
                <td>Tiguan</td>
                <td>Desde $508,490</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Ford</td>
                <td>Fiesta</td>
                <td>Desde $241,300</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Ford</td>
                <td>F-150</td>
                <td>Desde $843,000</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Lamborghini</td>
                <td>Countach</td>
                <td>Desde $9,500,000</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Nissan</td>
                <td>Datsun 240 Z</td>
                <td>Desde $165,000</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Mercedes Benz</td>
                <td>AMG Clase G</td>
                <td>Desde $4,076,000</td>
            </tr>
        </tbody>
    </table>
    <br>
    <div class="mb-3">
        <h2>¡Contactanos!</h2>
        <label for="exampleFormControlInput1" class="form-label">Ingrese su infomación para agendar una
            cita.</label>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Nombre(s)" aria-label="First name">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Apellido(s)" aria-label="Last name">
            </div>
        </div>
        <br>
        <label for="exampleFormControlInput1" class="form-label">Ingrese su Email.</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="ejemplo@ejemplo.com">
        <br>
        <div class="row">
            <div class="col">
                <label for="exampleFormControlInput1" class="form-label">Modelo.</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Seleccionar Modelo</option>
                    <option value="1">Beetle Coast</option>
                    <option value="2">Tiguan</option>
                    <option value="3">Fiesta</option>
                    <option value="4">F-150</option>
                    <option value="5">Lamborghini Countach</option>
                    <option value="6">Datsun 240 Z</option>
                    <option value="7">Mercedes Benz Clase G</option>
                </select>
            </div>
            <div class="col">
                <label for="exampleFormControlInput1" class="form-label">Teléfono.</label>
                <div class="input-group phone-input">
                    <input type="text" name="phone[52][number]" class="form-control" placeholder="+52 (99) 9999 9999" />
                    <button class="btn btn-success" type="button" id="button-addon2">Agendar</button>
                </div>
            </div>
        </div>
    </div>
</div>

